@page "/gamePlayPrimary"
@inherits GamePlayPrimaryModel
    <div class="text-center rpgui-content">
        <div class="rpgui-container framedgolden">
            <h1 class="text-center">Welcome to Turn-Based RPG!</h1>
            <RpgApp.Client.Pages.Authentication.AuthLogin/>
            <h2>Create a character to begin:</h2>
            <div class="align-middle" style="width: 15em; margin-left:auto;margin-right:auto">
                @*<MatButton Raised="true" OnClick="CreateNewCharacter">Create Character</MatButton>*@
                <RpgButton OnClick="CreateNewCharacter" RpgButtonStyle="RpgButtonStyle.Standard">Create Character</RpgButton>
            </div>
        </div>
    </div>