@page "/"
@using System.Net.Http.Json
@using System.ComponentModel
@using RpgApp.Shared
@using RpgApp.Client.Pages.StyleTests

<RpgTabGroup @bind-ActiveIndex="indexTab">

    <RpgTab Label="Generate Character">
        <GamePlayPrimary />
        <div class="rpgui-content framedgolden" style="overflow:hidden">
            <a href="authTest">Test Authentication with "Authorized" navigation route.</a>
        </div>
        <hr />
        <RpgButton OnClick="TestAuthCalls" RpgButtonStyle="RpgButtonStyle.Golden" Width="30" Label="Test Auth Call" />
        <div>
            @if (authCallMessages.Count > 0)
            {
                foreach (var message in authCallMessages)
                {
                    <p>@message</p>
                }
            }
        </div>
    </RpgTab>
    <RpgTab Label="Data Query Testing">
        <TestQueries />
    </RpgTab>
    <RpgTab Label="MyLayout">
        <LayoutMyCss />
    </RpgTab>
    <RpgTab Label="Test Styles">
        @*<div class="text-center" style="font-size:150%"><NavLink href="samples">GoTo Testing Page</NavLink></div>*@
        <CompLibraryTester />
    </RpgTab>
    <RpgTab Label="Test Page">
        <h1 Style="color:red">Error!</h1>
        <h2>We haven't used this page in a long time. I'm commenting all of it so we can fully move from MatBlazor component library to the RpgUI Component Library</h2>

    </RpgTab>
    <RpgTab Label="D &amp; D API Dev Tools">
        @*<CheatCreate/>*@ <h1>Moving to it's own project</h1>
    </RpgTab>
</RpgTabGroup>

