@using RpgApp.Shared.StateManager
@inherits LayoutComponentBase
@inject AppStateManager AppState

@*<div class="sidebar">
    <NavMenu />
</div>*@
<CascadingValue Name="AppState" Value="@AppState">
    <ModalDialogContainer />


    <div class="main">
        @*<div class="top-row px-4 auth">
                <LoginDisplay />
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>*@

        <div class="content px-4">
            @Body
        </div>
    </div>
</CascadingValue>
