/*td, th {
    border-style: solid;
    border-image-source: url(img/border-image.png);
    border-image-repeat: repeat;
    border-image-slice: 6 6 6 6;
    border-image-width: 6px;
    border-width: 4px;
    padding: 5px 8px;
}*/
