::placeholder {
    color: lightblue;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lightblue;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: lightblue;
}