.page-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.page-container >* {
    flex:1 1 200px;
}
.rpg-log {
    align-self: stretch;
    
}
code {
    color: lightblue;
    font-size:110%;
}
.rpg-btn-group {
    display: flex;
    flex-direction: row;
    width: 100%;
}