<MatTabGroup>
    <MatTab Label="Intro">
        <MatH2 Class="text-center">Entity Generator</MatH2>
        <MatH4 Class="text-center">Use The 5th Edition Dungeons and Dragons API To create new monsters, equipment, and skills for our app</MatH4>
        <div style="margin-left: 15%; margin-right: 15%">
            <MatH6>This uses The 5th Edition Dungeons and Dragons API that has all kinds of Shit from D&D. I think this will make adding Monsters, Weapons, Armor, etc. to our app faster and easier without using precise copies of their content. </MatH6><br />
        </div><hr />
        <div class="text-center">
            <img style="margin-left: auto;margin-right:auto" src="https://img.icons8.com/color/480/000000/dungeons-and-dragons.png"/>
        </div>
        <br />
        <div style="font-size: .8em; bottom:0"><a href="https://icons8.com/icon/104704/dungeons-and-dragons">Dungeons and Dragons icon by Icons8</a></div>
    </MatTab>
    <MatTab Label="Create Monsters">
        <CreateMonster/>
    </MatTab>
    <MatTab Label="Create Weapons/Armor">
        <CreateEquipment/>
    </MatTab>
    <MatTab Label="Create Skills">
        <MatH2>Coming Soon</MatH2>
    </MatTab>
</MatTabGroup>

