@using Frame = RpgComponentLibrary.Components.Frame

<RpgItemsMenu ImageMapperFunc="@((eq) => eq.ImageId)" Items="playerInventory" MenuColumns="20" MenuFrame="Frame.FramedGrey" Context="item" TItem="Equipment">
    <MenuHeader>
        <h1>Inventory</h1>
    </MenuHeader>
    <ToolTipTemplate>
        @item.AsDisplayString()
    </ToolTipTemplate>
</RpgItemsMenu>