<div class="text-left">
    @foreach (var playerEquipment in playerInventory)
    {
        <h3>@playerEquipment.Name</h3>
        <ul>
            <li>@playerEquipment.Description</li>
        </ul>
    }
</div>