<div class="menu-items" style="width: 15em; margin-left:auto;margin-right:auto">
    <RpgButton OnClick="ShowStats" Label="Stats" RpgButtonStyle="RpgButtonStyle.Standard"></RpgButton>
    <RpgButton OnClick="ShowShop" Label="Equipment Shop" RpgButtonStyle="RpgButtonStyle.Standard"></RpgButton>
    <RpgButton OnClick="ShowSkillShop" Label="Skills Shop" RpgButtonStyle="RpgButtonStyle.Standard"></RpgButton>
    <RpgButton OnClick="ShowInventory" Label="Inventory" RpgButtonStyle="RpgButtonStyle.Standard"></RpgButton>
    <RpgButton OnClick="ShowSkills" Label="Skills" RpgButtonStyle="RpgButtonStyle.Standard"></RpgButton>
</div>