<span>@((MarkupString)HtmlMarkupContent)</span>
<pre>@PreFormattedTextContent</pre>
@ChildContent
<div style="height:auto; max-width: 25%; bottom:0; margin-left:auto">
    <RpgButton OnClick="Close" Width="25" Label="Got it"/>
</div>