@using Frame = RpgComponentLibrary.Components.Frame

<RpgItemsMenu ImageMapperFunc="@((eq) => eq.ImageId)" Items="shopInventory" MenuColumns="4" MenuFrame="Frame.FramedGrey" Context="item" TItem="Equipment">
    <MenuHeader>
        <h1>Shop</h1>
    </MenuHeader>
    <ToolTipTemplate>
        @item.AsDisplayString()
    </ToolTipTemplate>
    <ActionTemplate>
        <label>@item.Name</label>
        <RpgButton OnClick="@(() => BuyEquipment(item))" Label="Purchase"></RpgButton>
    </ActionTemplate>
</RpgItemsMenu>
