@using Frame = RpgComponentLibrary.Components.Frame

<RpgItemsMenu ImageMapperFunc="@((skl) => skl.ImageID)" Items="playerSkills" MenuColumns="20" MenuFrame="Frame.FramedGrey" Context="skill" TItem="Skill">
    <MenuHeader>
        <h1>@PageTitle</h1>
    </MenuHeader>
    <ToolTipTemplate>
        @skill.AsDisplayString()
    </ToolTipTemplate>
</RpgItemsMenu>